.search-container {
  width: 50%;
  margin: auto;
  position: relative;
  top: 100px;
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}

.input-field {
  border-color: transparent;
  width: 100%;
  padding: 10px;
}

.filter-container {
  display: flex;
  width: 100%;
}

.multi-select {
  width: 33.33%;
  --rmsc-gray: "black";
  --rmsc-hover: #f1f3f5;
}

.multi-select :hover {
  cursor: pointer;
}
